/*+++++++++++++ Media Query +++++++++++++*/
/* ../picker.html */

@charset "utf-8";

/* ===== mobile(start) ===== */
@media screen and (max-width: 767px) {


/* === section.visual === */
	section.visual { overflow: hidden; position: relative; width: 100%; height: 100vh; }
	section.visual div.slides { display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; object-fit: cover; 
	opacity: 1; transition: transform 0.3s;}

	section.visual div.cur { opacity: 1; z-index: 10; }
	section.visual div.next { opacity: 1; z-index: 5; transform: translateX(100%); }

	section.visual div.slides img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.visual div.slides p.pre_title { position: absolute; font-family:  "Playfair-Display"; font-size: 1.25em; font-style: italic; }
	section.visual div.slides p.title { position: absolute; font-size: 3.5em; font-weight: bold; line-height: 1; }

	section.visual div.slides:nth-of-type(1) p.pre_title { top: 71vh; left: 45vw; text-align: left; }
	section.visual div.slides:nth-of-type(2) p.pre_title { top: 71vh; left: 3vw; text-align: left; }

	section.visual div.slides:nth-of-type(1) p.title { top: 77vh; left: 45vw; text-align: left; }
	section.visual div.slides:nth-of-type(2) p.title { top: 77vh; left: 3vw; text-align: left; }

	section.visual div.slides span { position: relative; }
	section.visual div.slides:nth-of-type(1) span.hr::before { content: ""; position: absolute; left: -86%; bottom: 20%;
	width: 85%; height: 2px; background: #222; border-radius: 5px; }
	section.visual div.slides:nth-of-type(2) span.hr::before { content: ""; position: absolute; left: 105%; bottom: 20%;
	width: 85%; height: 2px; background: #222; border-radius: 5px; }

	section.visual div.pagination { position: absolute; left: 0; bottom: 0; z-index: 20; width: 100%; text-align: center; }


	/* === section.weekly === */
	section.weekly { position: relative; min-height: 496px; }

	section.weekly div.img_wrap { overflow: hidden; position: relative; width: 100%; height: auto; z-index: 16; }
	section.weekly div.img_wrap img { display: block; width: 100vw; }
	
	section.weekly div.btn_tooltips button { width: 16px; height: 16px; }
	section.weekly div.btn_tooltips button::after { font-size: 0.875em; line-height: 1.3; vertical-align: top; }
	section.weekly div.btn_tooltips button:nth-of-type(1) { top: 24%; left: 43%; }
	section.weekly div.btn_tooltips button:nth-of-type(2) { top: 23.5%; left: 17%; }
	section.weekly div.btn_tooltips button:nth-of-type(3) { top: 40.5%; left: 12.5%; }
	section.weekly div.btn_tooltips button:nth-last-of-type(1) { top: 56.5%; left: 24%; }
	section.weekly div.btn_tooltips button { animation-name: tooltip; animation-duration: 0.6s; animation-iteration-count: infinite; animation-direction: alternate-reverse; }

	@keyframes tooltip {
		from{
			background-color: rgba(238, 220, 234, 0.3);		
		}
		to{
			background-color: rgba(238, 220, 234, 0.8);
		}	
	}
	
	section.weekly.on > div.tooltip_wrap { position: fixed; left: 50%; top: 50%; width: 90vw; transform: translateX(-50%) translateY(-50%); transition: transform 0.3s; z-index: 111; }
	section.weekly.on::before { content: ""; position: fixed; left: 0; top: 0; width: 100%; height: 100%;  
	background: rgba(0, 0, 0, 0.8); z-index: 110;}

	section.weekly div.tooltip_wrap { position: absolute; top: 50%; right: 0; width: 260px; background: #fff; border-radius: 10px; 
	transform: translateX(100%) translateY(-50%); z-index: 20; }
	section.weekly div.tooltip_wrap button { position: absolute; top: 20px; right: 20px; width: 21px; height: 21px; 
	background: url("../images/img_common_btn_close.png") no-repeat; background-size: cover; }

	section.weekly div.tt_img_wrap { display: inline-block; margin-top: 10px; width: 100%; }
	section.weekly div.tt_img_wrap > img { display: block; width: 100%; height: auto; }

	section.weekly div.tt_info_wrap { width: 100%; padding: 20px; font-family: "NotoSansKR-Regular"; background: #f7f7f7; border-radius: 0 0 10px 10px;}
	section.weekly div.tt_info_wrap p.title { margin-bottom: 0.5em; font-size: 0.875em; }
	section.weekly div.tt_info_wrap p.desc { height: 3.375em; margin-bottom: 1em; font-size: 1.125em; line-height: 1.5em; }
	section.weekly div.tt_info_wrap a.btn_common { font-size: 0.75em; }

	section.weekly div.info_wrap { position: relative; width: 100%; height: 31vh; 
	background: #803636; }
	section.weekly div.info_wrap::after { content: ""; display: inline-block; position: absolute; right: 0; bottom: 0;
	width: 320px; height: 97px; background: url("../images/img_index_weekly_opa_suji.png") no-repeat; 
	background-size: 100%; opacity: 0.1; z-index: 1;}
	section.weekly div.info_wrap h2 { padding-top: 30px; margin: 0 0 0 5vw; color: #f7f7f7; }
	section.weekly div.info_wrap p.title { margin-left: 5vw; color: #f7f7f7; font-family: "NotoSansKR-Regular"; font-weight: bold; font-size: 3.75em;  }
	section.weekly div.info_wrap img { display: none;}
	section.weekly div.info_wrap p.desc { display: none;}

	section.weekly div.inner_wrap_half { position: relative; width: 100%; height: 100%; }

	

	/* === section.category === */
	section.category { height: 74vh; max-height: 350px; margin-top: 50px; }
	section.category div.inner_wrap { width: 90vw; }
	
	section.category ul.cate_wrap_M { float: left; width: 40%; height: 250px; }
	section.category ul.cate_wrap_M > li { width: 100%; height: 33.333333%; border: 1px solid #ddd; }
	section.category ul.cate_wrap_M > li:nth-child(1) { border-bottom: none; }
	section.category ul.cate_wrap_M > li:nth-child(2) { border-bottom: none; }
	section.category ul.cate_wrap_M > li button { display: block; width: 100%; height: 100%; font-size: 0.75em; line-height: 1.5; text-align: center;/*title style*/ }
	section.category ul.cate_wrap_M > li > button::before { content: ""; display: block; width: 48px; height: 48px; margin: 0 auto; }
	section.category ul.cate_wrap_M > li.active { background: #f7f7f7; }
	section.category ul.cate_wrap_M > li:nth-child(1) > button::before { background: url("../images/img_index_category_lip.png") no-repeat; background-size: cover; }
	section.category ul.cate_wrap_M > li:nth-child(2) > button::before { background: url("../images/img_index_category_face.png") no-repeat; background-size: cover; }
	section.category ul.cate_wrap_M > li:nth-child(3) > button::before { background: url("../images/img_index_category_eye.png") no-repeat; background-size: cover; }

	section.category ul.cate_wrap { overflow: hidden; float: right; width: 60%; height: 250px; }
	section.category ul.cate_wrap > li { display: table;  width: 100%; height: 25%; border: 1px solid #ddd; border-bottom: none; border-left: none; }
	section.category ul.cate_wrap > li:nth-child(4n) { border-bottom: 1px solid #ddd; }
	section.category ul.cate_wrap > li > a { display: block; position: relative; width: 100%; height: 100%; padding: 1em 1.2em; text-align: right; }
	section.category ul.cate_wrap > li > a::before { content: ""; display: inline-block; position: absolute; left: 1em; top: 0.5em; width: 42px; height: 42px;  }
	section.category ul.cate_wrap > li:nth-child(1) > a::before { background: url("../images/img_index_category_lipstick_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(2) > a::before { background: url("../images/img_index_category_liptint_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(3) > a::before { background: url("../images/img_index_category_lipgloss_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(4) > a::before { background: url("../images/img_index_category_lipbalm_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(5) > a::before { background: url("../images/img_index_category_foundation_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(6) > a::before { background: url("../images/img_index_category_pact_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(7) > a::before { background: url("../images/img_index_category_shading_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(8) > a::before { background: url("../images/img_index_category_blusher_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(9) > a::before { background: url("../images/img_index_category_eyeshadow_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(10) > a::before { background: url("../images/img_index_category_eyeliner_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(11) > a::before { background: url("../images/img_index_category_eyebrow_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(12) > a::before { background: url("../images/img_index_category_mascara_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li span { display: inline-block; font-size: 0.875em; line-height: 1.5; /*title style*/ }


	/* === section.bestseller === */
	section.bestseller { margin-top: 50px; }
	section.bestseller h2 { margin-left: 5vw; }
	section.bestseller h2 + .btn_common { position: absolute; right: 0; top: 8px; margin-right: 20px; }

	section.bestseller div.inner_wrap_02 { width: 97.39583333%; }
	section.bestseller div.view_mask { overflow: hidden; position: relative; width: 100%; margin: 0 auto; }
	section.bestseller div.view_mask ul { width: 600%; }
	section.bestseller div.view_mask li { float: left; position: relative; width: 16.66666%; height: 134.333333vw; min-height: 440px; padding: 0 10px; font-family: "NotoSansKR-Regular"; text-align: center; 
	line-height: 1; }
	.prodect_li_prev { animation-name: prodect_li_prev; animation-duration: 0.3s; animation-iteration-count: 1; }
	.prodect_li_next { animation-name: prodect_li_next; animation-duration: 0.3s; animation-iteration-count: 1; }
	section.bestseller div.view_mask li a { color: #222; }
	section.bestseller div.view_mask li img { display: block; width: 100%; height: auto; margin-bottom: 1.5625em; border: 1px solid #ddd; }
	section.bestseller div.view_mask li button.like { position: absolute; top: 66%; right: 6%; }
	section.bestseller div.view_mask li p.brand { margin-bottom: 0.625em; }
	section.bestseller div.view_mask li p.title { margin-bottom: 0.555555555em; font-size: 1.125em; }
	section.bestseller div.view_mask li p.price { margin-bottom: 0.625em; font-weight: bold; }
	section.bestseller p.color span.color::before { content: ""; display: inline-block; width: 10px; height: 10px; margin: 0 1px; border-radius: 50%; vertical-align: top; }

	@keyframes prodect_li_prev {
		0% {
			left: -16.6666666%;
		}
		100% {
			left: 0;
		}
	}
	@keyframes prodect_li_next {
		0% {
			left: 16.6666666%;
		}
		100% {
			left: 0;
		}
	}

	/* === section.toprank === */
	section.toprank { position: relative; margin-top: 50px; }
	section.toprank h2 { margin: 0 0 30px 5vw; }

	section.toprank div.tabs_wrap { position: relative; width: 100%; border-bottom: 1px solid #ddd; z-index: 1;  }
	section.toprank div.tabs_wrap::after { content: ""; position: absolute; right: 0; bottom: 1px; width: 50px; height: 50px;
	background: rgba(255, 255, 255, 0.8); box-shadow: -5px 0 5px rgba(255, 255, 255, 0.8); }
	section.toprank div.tabs_wrap ul { position: relative; width: max-content; margin: 0 auto; }
	section.toprank div.tabs_wrap li { float: left;  padding: 0.625em; margin-right: 6.2px;  }
	section.toprank div.tabs_wrap li.active > button { color: #803636; font-weight: bold; }
	section.toprank div.tabs_wrap li > button { display: block; width: 100%; font-size: 1em;  text-align: center; }
	section.toprank div.tabs_wrap li:nth-child(1) { margin-left: 20px; }
	section.toprank div.tabs_wrap li:nth-last-child(1) { position: absolute; left: 20px; bottom: -2px; width: 70.59px; height: 4px; padding: 0;margin: 0;
	background: #803636; border-radius: 5px; }
	section.toprank div.tabs_wrap li:nth-last-child(2) { margin-right: 0; }

	section.toprank div.view_mask { margin: 30px auto 0 auto; width: 94.7916666vw; }
	section.toprank ul.lists_wrap { height: 360px; }
	section.toprank ul.lists_wrap > li { overflow: hidden; display: none; position: absolute; width: 100%; height: 100%; }
	section.toprank ul.lists_wrap > li.active { display: block; }
	section.toprank ul.lists_wrap > li.active div.info { animation-name: fadeIn; animation-duration: 0.5s; animation-iteration-count: 1; }
	section.toprank ul.lists_wrap > li.active img { animation-name: fadeIn; animation-duration: 0.5s; animation-iteration-count: 1; }

	@keyframes fadeIn {
		from{
			opacity: 0;		
		}
		to{
			opacity: 1;
		}	
	}

	section.toprank ul.product_wrap { width: 100%; height: 100%; }
	section.toprank ul.product_wrap > li:nth-child(1) { width: 100%; height: 120px; border: 5px solid #fff5c8;}
	section.toprank ul.product_wrap > li:nth-child(2) { width: 100%; height: 120px; border: 5px solid #e2e2e2;}
	section.toprank ul.product_wrap > li:nth-child(3) { width: 100%; height: 120px; border: 5px solid #e9d7cc;}
	section.toprank ul.product_wrap > li > a { display: block; position: relative; width: 100%; height: 100%; }
	section.toprank ul.product_wrap > li > a::after { content: ""; display: inline-block; position: absolute;
	top: -6px; left: 20px; width: 36px; height: 57.6px;}
	section.toprank ul.product_wrap > li:nth-child(1) > a::after { background: url("../images/img_index_toprant_01.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap > li:nth-child(2) > a::after { background: url("../images/img_index_toprant_02.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap > li:nth-child(3) > a::after { background: url("../images/img_index_toprant_03.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap div.info { float: left; width: 70%; margin-top: 42px; font-family: "NotoSansKR-Regular"; text-align: center; }
	section.toprank ul.product_wrap p.brand { margin-bottom: 0.3125em; font-size: 0.875em; }
	section.toprank ul.product_wrap p.title { margin-bottom: 0.5em; font-size: 1em; line-height: 1; }
	section.toprank ul.product_wrap p.price { display: none; }
	section.toprank ul.product_wrap img { float: right; display: block; width: 30%; height: 100%; object-fit: contain; }


	/* === section.newbrand === */
	section.newbrand { position: relative; margin-top: 50px; height: 80vh; min-height: 430px; max-height: 460px; }
	section.newbrand h2 { margin-left: 5vw; }

	section.newbrand div.title img { display: block; width: 150px; margin: 0 auto; object-fit: cover; }
	section.newbrand div.title p.desc { margin: 20px 0 110px 0; font-family: "NotoSansKR-Regular"; font-size: 0.75em; text-align: center; }
	section.newbrand div.title p.desc > span::before { content: "["; margin-right: 0.6em; color: #d0d0d0; font-size: 2.0833333em; vertical-align: middle; }
	section.newbrand div.title p.desc > span::after { content: "]"; margin-left: 0.6em; color: #d0d0d0; font-size: 2.0833333em; vertical-align: middle; }
	section.newbrand div.title p.desc > span > span { color: #803636; }

	section.newbrand div.info_wrap { width: 100%; height: 200px; background: #111; }
	section.newbrand div.info_wrap > div.inner_wrap { width: 100%; height: 100%; }
	section.newbrand div.info_wrap ul { position: relative; width: 100%; height: 100%; margin: 0 auto; text-align: center; }
	section.newbrand div.info_wrap ul > li { display: block; position: absolute; left: 0; top: 15%; width: 100%; height: 100%; transform: translateY(-50%); }
	section.newbrand div.info_wrap ul > li:nth-child(1) { opacity: 1; z-index: 10; animation:fadeInOut_01 10s infinite; }
	section.newbrand div.info_wrap ul > li:nth-child(2) { opacity: 0; z-index: 5; animation:fadeInOut_02 10s infinite; }
	section.newbrand div.info_wrap ul > li:nth-last-child(1) { opacity: 0; z-index: 4; animation:fadeInOut_03 10s infinite; }
	section.newbrand div.info_wrap ul > li > img { display: inline-block; width: 140px; height: 140px; margin-bottom: 20px; border-radius: 50%; }
	section.newbrand div.info_wrap ul > li > p.desc { color: #fff; font-family: "NotoSansKR-Regular"; font-size: 0.75em; } 

	@keyframes fadeInOut_01
   {
     0%   {opacity:1}
	 28% { opacity: 1}
     33.333% { opacity: 0}
     66.666% { opacity: 0}
	 94% { opacity: 0}
     100% { opacity: 1}
   }
   @keyframes fadeInOut_02
   {
     0%   {opacity:0}
	 28% { opacity: 0}
     33.333% { opacity: 1}
	 58% { opacity: 1}
     66.666% { opacity: 0 }
     100% { opacity: 0}
   }
   @keyframes fadeInOut_03
   {
     0%   {opacity:0}
     33.333% { opacity: 0}
	 58% { opacity: 0}
     66.666% { opacity: 1}
	 94% { opacity: 1}
     100% { opacity: 0}
   }


	/* === section.event === */
	section.event { position: relative; margin-top: 50px; margin-bottom: 50px; }
	section.event h2 + .btn_common { position: absolute; right: 0; top: 8px; margin-right: 5vw; }
	section.event h2 { margin-left: 5vw; }

	section.event div.inner_wrap_02 { width: 100%; }

	section.event div.view_mask { overflow: hidden; position: relative; width: 100%; }
	section.event div.view_mask ul { width: 400%; }
	section.event div.view_mask li { float: left; position: relative; width: 25%; text-align: center; }
	section.event div.view_mask li img { display: block; width: 100%; height: auto; }
	section.event div.view_mask li > p.title { margin: 0.5em 0; font-size: 1.25em; font-weight: bold; font-family: "NotoSansKR-Regular";  }
	section.event div.view_mask li > p.desc { font-size: 0.9375em; font-family: "NotoSansKR-Regular"; line-height: 1.5;}

	section.event div.pagination { display: block; }
	section.event div.pagination button.active > span { background: #803636; }



}
/* ===== mobile(end) ===== */


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!    PICKER    !!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ===== tablet(start) ===== */
@media screen and (min-width: 768px) and (max-width: 1024px) {


	/* === section.visual === */
	section.visual { overflow: hidden; position: relative; width: 100%; height: 100vh; }
	section.visual div.slides { display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; object-fit: cover; 
	opacity: 1; transition: transform 0.3s;}

	section.visual div.cur { opacity: 1; z-index: 10; }
	section.visual div.next { opacity: 1; z-index: 5; transform: translateX(100%); }

	section.visual div.slides img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.visual div.slides p.pre_title { position: absolute; font-family:  "Playfair-Display"; font-size: 2em; font-style: italic; }
	section.visual div.slides p.title { position: absolute; font-size: 7.5em; font-weight: bold; line-height: 1; }

	section.visual div.slides:nth-of-type(1) p.pre_title { top: 72vh; left: 54vw; text-align: left; }
	section.visual div.slides:nth-of-type(2) p.pre_title { top: 72vh; left: 3vw; text-align: left; }

	section.visual div.slides:nth-of-type(1) p.title { top: 77vh; left: 54vw; text-align: left; }
	section.visual div.slides:nth-of-type(2) p.title { top: 77vh; left: 3vw; text-align: left; }

	section.visual div.slides span { position: relative; }
	section.visual div.slides:nth-of-type(1) span.hr::before { content: ""; position: absolute; left: -115%; bottom: 20%;
	width: 115%; height: 5px; background: #222; border-radius: 5px; }
	section.visual div.slides:nth-of-type(2) span.hr::before { content: ""; position: absolute; left: 105%; bottom: 20%;
	width: 115%; height: 5px; background: #222; border-radius: 5px; }

	section.visual div.pagination { position: absolute; left: 0; bottom: 0; z-index: 20; width: 100%; text-align: center; }


	/* === section.weekly === */
	section.weekly { position: relative; height: 1000px; min-height: 660px; }

	section.weekly div.img_wrap { overflow: hidden; float: right; position: relative; width: 50%; height: auto; z-index: 16; }
	section.weekly div.img_wrap img { display: block; width: 50vw; }
	
	section.weekly div.btn_tooltips button:nth-of-type(1) { top: 23%; left: 60%; }
	section.weekly div.btn_tooltips button:nth-of-type(2) { top: 22.5%; left: 7%; }
	section.weekly div.btn_tooltips button:nth-of-type(3) { top: 33.5%; left: 0.5%; }
	section.weekly div.btn_tooltips button:nth-last-of-type(1) { top: 45.5%; left: 20%; }
	section.weekly div.btn_tooltips button { animation-name: tooltip; animation-duration: 0.6s; animation-iteration-count: infinite; animation-direction: alternate-reverse; }

	@keyframes tooltip {
		from{
			background-color: rgba(238, 220, 234, 0.3);		
		}
		to{
			background-color: rgba(238, 220, 234, 0.8);
		}	
	}
	
	section.weekly.on > div.tooltip_wrap { right: 55%; transition: right 0.3s; }
	section.weekly.on > div.info_wrap::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%;  
	background: rgba(0, 0, 0, 0.7); z-index: 10;}

	section.weekly div.tooltip_wrap { position: absolute; top: 50%; right: 10%; width: 300px; background: #fff; border-radius: 10px; 
	transform: translateY(-50%); z-index: 15; }
	section.weekly div.tooltip_wrap button { position: absolute; top: 20px; right: 20px; width: 23px; height: 23px; 
	background: url("../images/img_common_btn_close.png") no-repeat; background-size: cover; }

	section.weekly div.tt_img_wrap { display: inline-block; margin-top: 10px; width: 100%; }
	section.weekly div.tt_img_wrap > img { display: block; width: 100%; height: auto; }

	section.weekly div.tt_info_wrap { width: 100%; padding: 20px; font-family: "NotoSansKR-Regular"; background: #f7f7f7; border-radius: 0 0 10px 10px;}
	section.weekly div.tt_info_wrap p.title { margin-bottom: 0.5em; font-size: 0.875em; }
	section.weekly div.tt_info_wrap p.desc { height: 3.375em; margin-bottom: 1em; font-size: 1.125em; line-height: 1.5em; }
	section.weekly div.tt_info_wrap a.btn_common { font-size: 0.75em; }

	section.weekly div.inner_wrap_half { float: right; position: relative; width: 100%; max-width: 566px; height: 100%; }


	section.weekly div.info_wrap { float: left; position: relative; width: 50%; height: 100%; 
	background: linear-gradient(to bottom, #fff 0%, #fff 49%, #803636 49%, #803636 100%); }
	section.weekly div.info_wrap::after { content: ""; display: inline-block; position: absolute; left: 0; bottom: 0;
	width: 444.5px; height: 134.75px; background: url("../images/img_index_weekly_opa_suji.png") no-repeat; background-size: 100%; opacity: 0.1; }
	section.weekly div.info_wrap h2 { margin: 100px 0 0 20px; }
	section.weekly div.info_wrap p.title { margin-left: 20px; font-family: "NotoSansKR-Regular"; font-weight: bold; font-size: 5em;  }
	section.weekly div.info_wrap img { display: inline-block; position: absolute; top: 50%; left: 50%; height: 25vh; 
	transform: translateX(-50%) translateY(-50%);}
	section.weekly div.info_wrap p.desc { position: absolute; left: 50%; bottom: 20%; width: 252px; color: #fff; font-family: "NotoSansKR-Regular"; 
	font-size: 0.875em; line-height: 1.7; transform: translateX(-50%); }
	

	/* === section.category === */
	section.category { height: 34vh; min-height: 350px; margin-top: 100px; }
	section.category h2 { margin-left: 20px; }
	section.category ul { margin: 0 20px; }
	
	section.category ul.cate_wrap_M { display: none; }

	section.category ul.cate_wrap > li { display: table; float: left; width: 16.75485002151675%; height: 122px; margin: 0 -1px -1px 0; border: 1px solid #ddd; }
	section.category ul.cate_wrap > li:hover { background: #f7f7f7; }
	section.category ul.cate_wrap > li > a { display: block; width: 100%; height: 100%; padding: 1em 0.5em; text-align: center; }
	section.category ul.cate_wrap > li > a::before { content: ""; display: inline-block; width: 60px; height: 60px;  }
	section.category ul.cate_wrap > li:nth-child(1) > a::before { background: url("../images/img_index_category_lipstick_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(2) > a::before { background: url("../images/img_index_category_liptint_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(3) > a::before { background: url("../images/img_index_category_lipgloss_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(4) > a::before { background: url("../images/img_index_category_lipbalm_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(5) > a::before { background: url("../images/img_index_category_foundation_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(6) > a::before { background: url("../images/img_index_category_pact_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(7) > a::before { background: url("../images/img_index_category_shading_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(8) > a::before { background: url("../images/img_index_category_blusher_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(9) > a::before { background: url("../images/img_index_category_eyeshadow_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(10) > a::before { background: url("../images/img_index_category_eyeliner_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(11) > a::before { background: url("../images/img_index_category_eyebrow_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(12) > a::before { background: url("../images/img_index_category_mascara_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li span { display: block; font-size: 1em; line-height: 1.5;/*title style*/ }


	/* === section.bestseller === */
	section.bestseller { margin-top: 100px; }
	section.bestseller h2 { margin-left: 20px; }
	section.bestseller h2 + .btn_common { position: absolute; right: 0; top: 8px; margin-right: 20px; }

	section.bestseller div.inner_wrap_02 { width: 97.39583333%; }
	section.bestseller div.view_mask { overflow: hidden; position: relative; width: 100%; margin: 0 auto; }
	section.bestseller div.view_mask ul { width: 200%; }
	section.bestseller div.view_mask li { float: left; position: relative; width: 16.66666%; height: 50vw; min-height: 420px; padding: 0 10px; font-family: "NotoSansKR-Regular"; text-align: center; 
	line-height: 1; }
	.prodect_li_prev { animation-name: prodect_li_prev; animation-duration: 0.3s; animation-iteration-count: 1; }
	.prodect_li_next { animation-name: prodect_li_next; animation-duration: 0.3s; animation-iteration-count: 1; }
	section.bestseller div.view_mask li a { color: #222; }
	section.bestseller div.view_mask li img { display: block; width: 100%; height: auto; margin-bottom: 1.5625em; border: 1px solid #ddd; }
	section.bestseller div.view_mask li button.like { position: absolute; top: 53%; right: 8%; }
	section.bestseller div.view_mask li p.brand { margin-bottom: 0.625em; }
	section.bestseller div.view_mask li p.title { margin-bottom: 0.555555555em; font-size: 1.125em; }
	section.bestseller div.view_mask li p.price { margin-bottom: 0.625em; font-weight: bold; }
	section.bestseller p.color span.color::before { content: ""; display: inline-block; width: 15px; height: 15px; margin: 0 5px; border-radius: 50%; vertical-align: top; }

	@keyframes prodect_li_prev {
		0% {
			left: -16.6666666%;
		}
		100% {
			left: 0;
		}
	}
	@keyframes prodect_li_next {
		0% {
			left: 16.6666666%;
		}
		100% {
			left: 0;
		}
	}

	/* === section.toprank === */
	section.toprank { position: relative; margin-top: 100px; }
	section.toprank h2 { margin: 0 0 50px 20px; }

	section.toprank div.tabs_wrap { position: relative; width: 100%; border-bottom: 1px solid #ddd; z-index: 1;  }
	section.toprank div.tabs_wrap[class~="blur"]::after { content: ""; position: absolute; right: 0; bottom: 1px; width: 50px; height: 50px;
	background: rgba(255, 255, 255, 0.8); box-shadow: -5px 0 5px rgba(255, 255, 255, 0.8); }
	section.toprank div.tabs_wrap ul { position: relative; left: 0; width: max-content; margin: 0 auto; transform: translateX(0); transition: transform 0.5s; }
	section.toprank div.tabs_wrap li { float: left;  padding: 0.625em; margin-right: 6.2px;  }
	section.toprank div.tabs_wrap li.active > button { color: #803636; font-weight: bold; }
	section.toprank div.tabs_wrap li > button { display: block; width: 100%; font-size: 1.375em;  text-align: center; }
	section.toprank div.tabs_wrap li:nth-child(1) { margin-left: 20px; }
	section.toprank div.tabs_wrap li:nth-last-child(1) { position: absolute; left: 20px; bottom: -2px; width: 89.56px; height: 4px; padding: 0;margin: 0;
	background: #803636; border-radius: 5px; }
	section.toprank div.tabs_wrap li:nth-last-child(2) { margin-right: 0; }

	section.toprank div.view_mask { margin: 30px auto 0 auto; width: 94.7916666vw; }
	section.toprank ul.lists_wrap { height: 340px; }
	section.toprank ul.lists_wrap > li { overflow: hidden; display: none; position: absolute; width: 100%; height: 100%; }
	section.toprank ul.lists_wrap > li.active { display: block; }
	section.toprank ul.lists_wrap > li.active div.info { animation-name: fadeIn; animation-duration: 0.5s; animation-iteration-count: 1; }
	section.toprank ul.lists_wrap > li.active img { animation-name: fadeIn; animation-duration: 0.5s; animation-iteration-count: 1; }

	@keyframes fadeIn {
		from{
			opacity: 0;		
		}
		to{
			opacity: 1;
		}	
	}

	section.toprank ul.product_wrap { width: 100%; height: 100%; }
	section.toprank ul.product_wrap > li:nth-child(1) { float: left; width: 50%; height: 100%; border: 5px solid #fff5c8;}
	section.toprank ul.product_wrap > li:nth-child(2) { float: right; width: 50%; height: 50%; border: 5px solid #e2e2e2;}
	section.toprank ul.product_wrap > li:nth-child(3) { float: right; width: 50%; height: 50%; border: 5px solid #e9d7cc;}
	section.toprank ul.product_wrap > li > a { display: block; position: relative; width: 100%; height: 100%; }
	section.toprank ul.product_wrap > li > a::after { content: ""; display: inline-block; position: absolute;  }
	section.toprank ul.product_wrap > li:nth-child(1) > a::after { top: -6px; left: 48px; width: 80px; height: 128px; 
	background: url("../images/img_index_toprant_01.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap > li:nth-child(2) > a::after { top: -6px; left: 76px; width: 60px; height: 96px; 
	background: url("../images/img_index_toprant_02.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap > li:nth-child(3) > a::after { top: -6px; left: 76px; width: 60px; height: 96px; 
	background: url("../images/img_index_toprant_03.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap div.info { float: left; width: 60%; margin-top: 95px; font-family: "NotoSansKR-Regular"; text-align: center; }
	section.toprank ul.product_wrap p.brand { margin-bottom: 0.3125em; font-size: 0.875em; }
	section.toprank ul.product_wrap p.title { margin-bottom: 0.5em; font-size: 1.125em; line-height: 1; }
	section.toprank ul.product_wrap p.price { display: none; }
	section.toprank ul.product_wrap img { float: right; display: block; width: 40%; height: 100%; object-fit: contain; }

	section.toprank ul.product_wrap a.top_01 div.info { float: left; width: 50%; margin-top: 150px; font-family: "NotoSansKR-Regular"; text-align: center; }
	section.toprank ul.product_wrap a.top_01 p.brand { margin-bottom: 0.3125em; font-size: 0.875em; }
	section.toprank ul.product_wrap a.top_01 p.title { margin-bottom: 0.5em; font-size: 1.125em; line-height: 1; padding: 0 0.777777em; }
	section.toprank ul.product_wrap a.top_01 p.price { display: block; margin-bottom: 0.5em; font-size: 1.25em; }
	section.toprank ul.product_wrap a.top_01 p.color span.color::before { content: ""; display: inline-block; width: 15px; height: 15px; margin: 0 5px; border-radius: 50%; vertical-align: top; }
	section.toprank ul.product_wrap a.top_01 img { float: right; width: 50%; height: 100%; object-fit: contain; vertical-align: middle; }

	/* === section.newbrand === */
	section.newbrand { position: relative; margin-top: 100px; height: 60vh; min-height: 650px; }
	section.newbrand h2 { margin-left: 20px; }
	section.newbrand div.inner_wrap { height: 50%; }

	section.newbrand div.title img { position: absolute; top: 15%; left: 50%; transform: translateX(-50%) translateY(-50%); 
	display: block; width: 300px; margin: 0 auto; object-fit: cover; }
	section.newbrand div.title p.desc { position: absolute; top: 30%; left: 50%; width: 100%; transform: translateX(-50%) translateY(-50%); font-family: "NotoSansKR-Regular"; font-size: 1.5em; text-align: center; }
	section.newbrand div.title p.desc > span::before { content: "["; margin-right: 0.6em; color: #d0d0d0; font-size: 2.0833333em; vertical-align: middle; }
	section.newbrand div.title p.desc > span::after { content: "]"; margin-left: 0.6em; color: #d0d0d0; font-size: 2.0833333em; vertical-align: middle; }
	section.newbrand div.title p.desc > span > span { color: #803636; }

	section.newbrand div.info_wrap { width: 100%; height: 350px; background: #111; }
	section.newbrand div.info_wrap > div.inner_wrap { height: 100%; }
	section.newbrand div.info_wrap ul { width: 600px; height: 100%; margin: 0 auto; text-align: center; }
	section.newbrand div.info_wrap ul > li { float: left; width: 33.333333%; height: 100%; transform: translateY(-22%); }
	section.newbrand div.info_wrap ul > li > img { display: inline-block; width: 140px; height: 140px; margin-bottom: 50px; border-radius: 50%; }
	section.newbrand div.info_wrap ul > li > p.desc { color: #fff; font-family: "NotoSansKR-Regular"; font-size: 1em; } 


	/* === section.event === */
	section.event { position: relative; margin-top: 100px; margin-bottom: 100px; }
	section.event h2 + .btn_common { position: absolute; right: 0; top: 8px; margin-right: 20px; }
	section.event h2 { margin-left: 20px; }

	section.event div.inner_wrap_02 { width: 96.875%; }

	section.event div.view_mask { overflow: hidden; position: relative; width: 100%; }
	section.event div.view_mask ul { width: 100%; }
	section.event div.view_mask li { float: left; position: relative; width: 50%; padding: 0 12px 24px 12px; text-align: center; }
	section.event div.view_mask li img { display: block; width: 100%; height: auto; }
	section.event div.view_mask li > p.title { margin: 0.5em 0; font-size: 1.25em; font-weight: bold; font-family: "NotoSansKR-Regular";  }
	section.event div.view_mask li > p.desc { font-size: 0.9375em; font-family: "NotoSansKR-Regular"; line-height: 1.5;}

	section.event div.pagination { display: none; }




}
/* ===== tablet(end) ===== */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!    PICKER    !!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ===== desktop(start) ===== */
@media screen and (min-width: 1025px){

	/* === section.visual === */
	section.visual { overflow: hidden; position: relative; width: 100%; height: 100vh; }
	section.visual div.slides { display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; object-fit: cover; 
	opacity: 1; }

	section.visual div.cur { opacity: 1; z-index: 10; }
	section.visual div.next { opacity: 1; z-index: 5; transform: translateX(-100%); }

	section.visual div.slides img { display: block; width: 100%; height: 100%; object-fit: cover; }
	section.visual div.slides p.pre_title { position: absolute; font-family:  "Playfair-Display"; font-size: 2.6041666vw; font-style: italic; }
	section.visual div.slides p.title { position: absolute; font-size: 10.10416666vw; font-weight: bold; line-height: 1; }

	section.visual div.slides:nth-of-type(1) p.pre_title { top: 62vh; left: 62vw; text-align: left; }
	section.visual div.slides:nth-of-type(2) p.pre_title { top: 62vh; left: 10vw; text-align: left; }

	section.visual div.slides:nth-of-type(1) p.title { top: 70vh; left: 62vw; text-align: left; }
	section.visual div.slides:nth-of-type(2) p.title { top: 70vh; left: 10vw; text-align: left; }

	section.visual div.slides span { position: relative; }
	section.visual div.slides:nth-of-type(1) span.hr::before { content: ""; position: absolute; left: -200%; bottom: 20%;
	width: 200%; height: 5px; background: #222; border-radius: 5px; }
	section.visual div.slides:nth-of-type(2) span.hr::before { content: ""; position: absolute; left: 105%; bottom: 20%;
	width: 200%; height: 5px; background: #222; border-radius: 5px; }

	section.visual div.pagination { position: absolute; left: 0; bottom: 0; z-index: 20; width: 100%; text-align: center; }


	/* === section.weekly === */
	section.weekly { position: relative; height: 100vh; min-height: 500px; }

	section.weekly div.img_wrap { overflow: hidden; float: right; position: relative; width: 50%; height: auto; z-index: 16; }
	section.weekly div.img_wrap img { display: block; width: 960px; height: auto; }

	section.weekly div.btn_tooltips button:nth-of-type(1) { top: 262px; left: 410px; }
	section.weekly div.btn_tooltips button:nth-of-type(2) { top: 268px; left: 157px; }
	section.weekly div.btn_tooltips button:nth-of-type(3) { top: 390px; left: 127px; }
	section.weekly div.btn_tooltips button:nth-last-of-type(1) { top: 550px; left: 218px; }
	section.weekly div.btn_tooltips button { animation-name: tooltip; animation-duration: 0.6s; animation-iteration-count: infinite; animation-direction: alternate-reverse; }

	@keyframes tooltip {
		from{
			background-color: rgba(238, 220, 234, 0.3);		
		}
		to{
			background-color: rgba(238, 220, 234, 0.8);
		}	
	}
	
	section.weekly.on > div.tooltip_wrap { right: 52%; transition: right 0.3s; }
	section.weekly.on > div.info_wrap::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%;  
	background: rgba(0, 0, 0, 0.7); z-index: 10;}

	section.weekly div.tooltip_wrap { position: absolute; top: 50%; right: 20%; width: 300px; background: #fff; border-radius: 10px; 
	transform: translateY(-50%); z-index: 15; }
	section.weekly div.tooltip_wrap button { position: absolute; top: 20px; right: 20px; width: 23px; height: 23px; 
	background: url("../images/img_common_btn_close.png") no-repeat; background-size: cover; }

	section.weekly div.tt_img_wrap { display: inline-block; margin-top: 10px; width: 100%; }
	section.weekly div.tt_img_wrap > img { display: block; width: 100%; height: auto; }

	section.weekly div.tt_info_wrap { width: 100%; padding: 20px; font-family: "NotoSansKR-Regular"; background: #f7f7f7; border-radius: 0 0 10px 10px;}
	section.weekly div.tt_info_wrap p.title { margin-bottom: 0.5em; font-size: 0.8125em; }
	section.weekly div.tt_info_wrap p.desc { height: 3.375em; margin-bottom: 1em; font-size: 1.125em; line-height: 1.5em; }
	section.weekly div.tt_info_wrap a.btn_common { font-size: 0.75em; }

	section.weekly div.info_wrap { float: left; position: relative; width: 50%; height: 100%; 
	background: linear-gradient(to bottom, #fff 0%, #fff 49%, #803636 49%, #803636 100%); }
	section.weekly div.info_wrap::after { content: ""; display: inline-block; position: absolute; left: 0; bottom: 0;
	width: 66.14583333%; height: 20.05208333%; background: url("../images/img_index_weekly_opa_suji.png") no-repeat; background-size: 100%; opacity: 0.1; }
	
	section.weekly div.inner_wrap_half { float: right; position: relative; width: 100%; max-width: 566px; height: 100%; }
	
	section.weekly div.info_wrap h2 { margin: 100px 0 0 0; }
	section.weekly div.info_wrap p.title { font-family: "NotoSansKR-Regular"; font-weight: bold; font-size: 5em;  }
	section.weekly div.info_wrap img { display: inline-block; position: absolute; top: 50%; height: 25vh; transform: translateY(-50%);}
	section.weekly div.info_wrap p.desc { position: absolute; bottom: 16%; color: #fff; font-family: "NotoSansKR-Regular"; font-size: 18px; padding-right: 175px; line-height: 1.7; }
	

	/* === section.category === */
	section.category { height: 50vh; min-height: 473px; margin-top: 100px; }

	section.category ul.cate_wrap_M { display: none; }

	section.category ul.cate_wrap > li { display: table; float: left; width: 16.75485002151675%; height: 187.656px; margin: 0 -1px -1px 0; border: 1px solid #ddd; }
	section.category ul.cate_wrap > li:hover { background: #f7f7f7; }
	section.category ul.cate_wrap > li > a { display: block; width: 100%; height: 100%; padding: 15.986699%; text-align: center; }
	section.category ul.cate_wrap > li > a::before { content: ""; display: inline-block; width: 86px; height: 86px;  }
	section.category ul.cate_wrap > li:nth-child(1) > a::before { background: url("../images/img_index_category_lipstick_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(1):hover > a::before { background: url("../images/img_index_category_lipstick_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(2) > a::before { background: url("../images/img_index_category_liptint_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(2):hover > a::before { background: url("../images/img_index_category_liptint_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(3) > a::before { background: url("../images/img_index_category_lipgloss_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(3):hover > a::before { background: url("../images/img_index_category_lipgloss_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(4) > a::before { background: url("../images/img_index_category_lipbalm_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(4):hover > a::before { background: url("../images/img_index_category_lipbalm_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(5) > a::before { background: url("../images/img_index_category_foundation_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(5):hover > a::before { background: url("../images/img_index_category_foundation_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(6) > a::before { background: url("../images/img_index_category_pact_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(6):hover > a::before { background: url("../images/img_index_category_pact_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(7) > a::before { background: url("../images/img_index_category_shading_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(7):hover > a::before { background: url("../images/img_index_category_shading_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(8) > a::before { background: url("../images/img_index_category_blusher_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(8):hover > a::before { background: url("../images/img_index_category_blusher_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(9) > a::before { background: url("../images/img_index_category_eyeshadow_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(9):hover > a::before { background: url("../images/img_index_category_eyeshadow_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(10) > a::before { background: url("../images/img_index_category_eyeliner_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(10):hover > a::before { background: url("../images/img_index_category_eyeliner_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(11) > a::before { background: url("../images/img_index_category_eyebrow_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(11):hover > a::before { background: url("../images/img_index_category_eyebrow_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li:nth-child(12) > a::before { background: url("../images/img_index_category_mascara_g.png") no-repeat; background-size: cover;/*gray ver img*/ }
	section.category ul.cate_wrap > li:nth-child(12):hover > a::before { background: url("../images/img_index_category_mascara_c.png") no-repeat; background-size: cover; /*color ver img*/ }
	section.category ul.cate_wrap > li span { display: block; font-size: 1em; line-height: 1.5;/*title style*/ }
	section.category ul.cate_wrap > li:hover span { font-weight: bold; }


	/* === section.bestseller === */
	section.bestseller { margin-top: 100px; }
	section.bestseller h2 + .btn_common { position: absolute; right: 0; top: 8px; }

	section.bestseller div.view_mask { overflow: hidden; position: relative; width: 1152px; margin: 0 auto; }
	section.bestseller div.view_mask ul { width: 150%; position: relative; left: 0px; transition: left 0.3s ease-in; }
	section.bestseller div.view_mask li { float: left; position: relative; width: 16.66666%; height: 420px; padding: 0 10px; font-family: "NotoSansKR-Regular"; text-align: center; 
	line-height: 1; }
	section.bestseller div.view_mask li a { color: #222; }
	section.bestseller div.view_mask li img { display: block; width: 100%; height: auto; margin-bottom: 1.5625em; border: 1px solid #ddd; }
	section.bestseller div.view_mask li button.like { position: absolute; top: 63%; right: 7%; }
	section.bestseller div.view_mask li p.brand { margin-bottom: 0.625em; }
	section.bestseller div.view_mask li p.title { margin-bottom: 0.555555555em; font-size: 1.125em; }
	section.bestseller div.view_mask li p.price { margin-bottom: 0.625em; font-weight: bold; }
	section.bestseller p.color span.color::before { content: ""; display: inline-block; width: 15px; height: 15px; margin: 0 5px; border-radius: 50%; vertical-align: top; }


	/* === section.toprank === */
	section.toprank { position: relative; margin-top: 100px; height: 63vh; min-height: 605px;}
	section.toprank h2 { margin-bottom: 50px; }

	section.toprank div.tabs_wrap { width: 100%; border-bottom: 1px solid #ddd; z-index: 1;  }
	section.toprank div.tabs_wrap ul { position: relative; width: 1132px; margin: 0 auto; }
	section.toprank div.tabs_wrap li { float: left; padding: 0.625em; margin-right: 6.2px;  }
	section.toprank div.tabs_wrap li.active > button { color: #803636; font-weight: bold; }
	section.toprank div.tabs_wrap li > button { display: block; width: 100%; font-size: 1.125em;  text-align: center; }
	section.toprank div.tabs_wrap li:nth-last-child(1) { position: absolute; left: 0; bottom: -2px; width: 76.92px; height: 4px; padding: 0;margin: 0;
	background: #803636; border-radius: 5px; }
	section.toprank div.tabs_wrap li:nth-last-child(2) { margin-right: 0; }

	section.toprank div.view_mask { margin-top: 30px;  }
	section.toprank ul.lists_wrap { height: 44.79166666vh; min-height: 410px;  }
	section.toprank ul.lists_wrap > li { overflow: hidden; display: none; position: absolute; width: 100%; height: 100%; }
	section.toprank ul.lists_wrap > li.active { display: block; }
	section.toprank ul.lists_wrap > li.active div.info { animation-name: fadeIn; animation-duration: 0.5s; animation-iteration-count: 1; }
	section.toprank ul.lists_wrap > li.active img { animation-name: fadeIn; animation-duration: 0.5s; animation-iteration-count: 1; }

	@keyframes fadeIn {
		from{
			opacity: 0;		
		}
		to{
			opacity: 1;
		}	
	}

	section.toprank ul.product_wrap { width: 100%; height: 100%; }
	section.toprank ul.product_wrap > li:nth-child(1) { float: left; width: 50%; height: 100%; border: 5px solid #fff5c8;}
	section.toprank ul.product_wrap > li:nth-child(2) { float: right; width: 50%; height: 50%; border: 5px solid #e2e2e2;}
	section.toprank ul.product_wrap > li:nth-child(3) { float: right; width: 50%; height: 50%; border: 5px solid #e9d7cc;}
	section.toprank ul.product_wrap > li > a { display: block; position: relative; width: 100%; height: 100%; }
	section.toprank ul.product_wrap > li > a::after { content: ""; display: inline-block; position: absolute;  }
	section.toprank ul.product_wrap > li:nth-child(1) > a::after { top: -6px; left: 90px; width: 100px; height: 160px; 
	background: url("../images/img_index_toprant_01.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap > li:nth-child(2) > a::after { top: -6px; left: 106px; width: 12.367491%; height: 52.093%; 
	background: url("../images/img_index_toprant_02.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap > li:nth-child(3) > a::after { top: -6px; left: 106px; width: 12.367491%; height: 52.093%; 
	background: url("../images/img_index_toprant_03.png") no-repeat; background-size: contain; }
	section.toprank ul.product_wrap div.info { float: left; width: 50%; margin-top: 105px; font-family: "NotoSansKR-Regular"; text-align: center; }
	section.toprank ul.product_wrap p.brand { margin-bottom: 0.3125em; font-size: 0.875em; }
	section.toprank ul.product_wrap p.title { margin-bottom: 0.5555555em; font-size: 1.125em; line-height: 1; }
	section.toprank ul.product_wrap p.price { margin-bottom: 0.3125em; font-size: 1em; }
	section.toprank ul.product_wrap img { float: right; display: block; width: 50%; height: 100%; object-fit: contain; }

	section.toprank ul.product_wrap a.top_01 div.info { float: left; width: 50%; margin-top: 200px; font-family: "NotoSansKR-Regular"; text-align: center; }
	section.toprank ul.product_wrap a.top_01 p.brand { margin-bottom: 0.2777777em; font-size: 1em; }
	section.toprank ul.product_wrap a.top_01 p.title { margin-bottom: 0.4545454545em; font-size: 1.375em; line-height: 1; }
	section.toprank ul.product_wrap a.top_01 p.price { margin-bottom: 0.2777777em; font-size: 1.125em; }
	section.toprank ul.product_wrap a.top_01 p.color span.color::before { content: ""; display: inline-block; width: 15px; height: 15px; margin: 0 5px; border-radius: 50%; vertical-align: top; }
	section.toprank ul.product_wrap a.top_01 img { float: right; width: 50%; height: 100%; object-fit: contain; vertical-align: middle; }

	
	/* === section.newbrand === */
	section.newbrand { position: relative; margin-top: 100px; height: 91vh; min-height: 874px; }

	section.newbrand div.title img { display: block; width: 600px; margin: 0 auto; object-fit: cover; }
	section.newbrand div.title p.desc { margin: 20px 0 230px 0; font-family: "NotoSansKR-Regular"; font-size: 1.5em; text-align: center; }
	section.newbrand div.title p.desc > span::before { content: "["; margin-right: 0.6em; color: #d0d0d0; font-size: 2.0833333em; vertical-align: middle; }
	section.newbrand div.title p.desc > span::after { content: "]"; margin-left: 0.6em; color: #d0d0d0; font-size: 2.0833333em; vertical-align: middle; }
	section.newbrand div.title p.desc > span > span { color: #803636; }

	section.newbrand div.info_wrap { width: 100%; height: 350px; background: #111; }
	section.newbrand div.info_wrap > div.inner_wrap { width: 100%; height: 100%; }
	section.newbrand div.info_wrap ul { width: 100%; height: 100%; margin: 0 auto; text-align: center; }
	section.newbrand div.info_wrap ul > li { float: left; width: 33.333333%; height: 100%; transform: translateY(-36%); }
	section.newbrand div.info_wrap ul > li > img { display: inline-block; width: 250px; height: 250px; margin-bottom: 50px; border-radius: 50%; }
	section.newbrand div.info_wrap ul > li > p.desc { color: #fff; font-family: "NotoSansKR-Regular"; font-size: 1em; } 


	/* === section.event === */
	section.event { position: relative; margin-top: 100px; margin-bottom: 100px; }
	section.event h2 + .btn_common { position: absolute; right: 0; top: 8px; }

	section.event div.inner_wrap_02 { width: 1152px; }

	section.event div.view_mask { overflow: hidden; position: relative; width: 100%; }
	section.event div.view_mask ul { width: 100%; }
	section.event div.view_mask li { float: left; position: relative; width: 25%; padding: 0 12px; text-align: center; }
	section.event div.view_mask li  img { display: block; width: 100%; height: auto; }
	section.event div.view_mask li > p.title { margin: 0.833333em 0; font-size: 1.125em; font-weight: bold; font-family: "NotoSansKR-Regular"; }
	section.event div.view_mask li > p.desc { font-size: 0.875em; font-family: "NotoSansKR-Regular"; }

	section.event div.pagination { display: none; }



}
/* ===== desktop(end) ===== */